PP_NAME="UMKM_App"
APP_ENV=local
APP_KEY=base64:7B5p9X0NOfg4Bv4M2bJWeO0RkPrKsdF7m91Hn3m+fco=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

# DATABASE CONFIGURATION FOR MYSQL
# Gunakan kredensial server MySQL lokal Anda
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_umkm_tenants
DB_USERNAME=root
DB_PASSWORD=secret

SESSION_DRIVER=database
SESSION_LIFETIME=120

BCRYPT_ROUNDS=12

# MAIL CONFIGURATION (Simulated)
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="admin@umkm.com"
MAIL_FROM_NAME="${APP_NAME}"
